<div class="task">  <!--ACA HACEMOS QUE MUESTRE LOS DATOS QUE RECIBE POR LA PANTALLA, RECORDEMOS QUE RECIBE TANTOS ITEMS [TASK] DESDE EL PADRE COMO TAREAS TENGA Y SE MUESTRAN DE ELLAS LOS CAMPOS TEXT Y DAY-->
    <h3>
        {{task.text}} 
        <fa-icon
            [icon]="faTimes">
        </fa-icon>
    </h3>
    <p>{{task.day}} </p>
</div>

<!--con el fa-icon es una etiqueta predefinida lo que hace es dejarnos meter el icono y darle estilos tambien si queremos , le decimo que el [icon] que trae este fa-icon sera igual al icono faTimes que es el nombre de la variable donde guardamos nuestro icono en el tasks-item.ts y asi logramos que nos traiga el icono y lo muestre en la pagina-->

<!--RESUMIENDO EL COMPONENTE TASK RECIBE LOS DATOS DESDE EL MOCK.TASKS (QUE EMULA AUNA BASE DE DATOS JSON)
Y SE LOS PASA AL COMPONENTE TASK-ITEMM PARA QUE LOS MUESTRE-->